body{
  background: #234b7b;
  color: white;
  min-width: 300px;
  margin:0 auto;
  text-align:center;
    /* overflow-x: hidden !important; */
}
h1{
  font-size: 100px;
}
h2{
  padding-top: 5rem;
  text-align: center;
}
p{
  margin-left:auto;
  margin-right:auto;
  text-align:justify;
  max-width: 450px;
}
.flag{
  width: 30px;
  position: absolute;
  margin-top: -10px;
  margin-right: 10px;
}
.my-img{
  width: 200px;

}
.prj-img{
  height: auto;
  max-width:100%;
  max-height:100%;
  border-radius: 20px;
  -webkit-transform: scale(0.9);
  /* Browser Variations: */
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7;
  -o-transition-duration: 0.7s;
}
.prj-img:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.line{
  width: 30%;
  margin: auto;
}
.my-color{
  background: #4e6e95;
}
.navbar{
  height: 3.5rem;

}
.nav-link{
  text-decoration: none;
  color: #D3D3D3;
  white-space: nowrap;
}
.nav-link:hover{
  text-decoration: none;
  color: white;
}
.nav-item{
  margin-left: 1rem;
  margin-right: 1rem;
}
.active{
  border-bottom: solid 0.5rem white;
  margin-bottom: -0.5rem;
  padding-bottom: -0.5rem;
  color: white;
}
/*Sections  */
.home {
  height: auto;
  padding-top: 4rem;
  margin: 0 auto;
  /* background: red; */
}
.projects {
  height: auto;
  /* background: olive; */
}
.projects .list {
  display: table;
  margin-left:auto;
  margin-right:auto;
  text-align:justify;
  max-width: 500px;
}
.about {
  height: auto;
  text-align: center;
  /* background: green; */
}
.contact {
  height: auto;
  padding-bottom: 30px;
  margin: 0 auto;
  /* background: green; */
}
.contact-form{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.container{
  display: flex;
}
.footer{
   background: #4e6e95;
   text-align: center;
   position: fixed;
   bottom: 0px;
   width:100%;
   font-size:10px
}
.item{
  margin-left: 5px;
  margin-right: 5px;
  width: 300px;
  height: 200px;
}
.fcc-fr{
  width: 300px;
  height: 100px;
  margin 0;
  text-align: center;
  background: yellow;
}
.fcc-bck{
  width: 300px;
  height: 100px;
  margin 0;
  text-align: center;
  background: red;
}
.fcc-fr:hover{
  background: white;
}
.fcc-bck:hover{
  background: white;
}
/*social icons */

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     color: gray;
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/

 #social-fb:hover {
     color: #3b5998;
 }
 #social-gh:hover {
     color: #333;
 }
 #social-fcc:hover {
     color: green;
 }
 #social-li:hover {
     color: #f39c12;
 }


/* MEDIA QUERIES */
 @media only screen and (max-width: 950px){
   h1{
     font-size: 50px;
   }
   .container{
     display: flex;
     flex-flow: column;
     margin: auto;
     align-items: center;
   }
   .contact{
     max-width: 450px;
   }
   .item{
     align-items: center;
     margin-bottom: 20px;
   }
   .navbar{
     height: 3.5rem;
     text-align: center;
   }
   .nav-item{
     margin-left: 1px;
     margin-right: 1px;
   }
   .projects {
     height: 1200px;
   }
   .fcc-fr{
     margin: 0;
   }
   .fcc-bck{
     margin: 0;
   }
 }
 @media only screen and (max-width: 450px){
   h1{
     font-size: 50px;
   }
   .nav-link{
     font-size: 15px;
   }
   .container{
     display: flex;
     flex-flow: column;
     margin: auto;
     align-items: center;
   }
   .contact{
     max-width: 450px;
   }
   .item{
     align-items: center;
     margin-bottom: 20px;
   }
   .navbar{
     height: 3.5rem;
     text-align: center;
   }
   .nav-item{
     margin-left: 1px;
     margin-right: 1px;
   }
   .projects {
     height: 1200px;
   }
   .fcc-fr{
     margin: 0;
   }
   .fcc-bck{
     margin: 0;
   }
 }
 @-moz-document url-prefix() {
  p{
    font-size: 20px;
  }
}
 .to-top{
   background: white;
   height: 50px;
   width: 50px;
   font-size: 20px;
   border: white;
   border-radius: 50%;
   user-select: none;
   color: black;
 }
