@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


//  Media Queries
@mixin desktop-lg {
    @media (min-width: 900px) {
        @content;
    }
}
@mixin desktop-md {
    @media (min-width: 561px) {
        @content;
    }
}
@mixin desktop-sm {
    @media (min-width: 560px) {
        @content;
    }
}

// Colors

$colors: (
    bg: #234b7b,
    nav: #4e6e95,
    nav-select: rgb(0, 162, 255),
    border: #d1dad8,

    sc-gh: #333,
    sc-fcc: #006400,
    sc-fb: #3B5998,
    sc-li: #4875B4,

    btn-primary: #3faf3f,
    btn-primary-hov: lighten(#3faf3f, 10%),
    footer: #4e6e95
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$padding: 15px;
$borders: 15px;

html, body{
    height: 100%;
}

body{
    background-color: color(bg);
    color: #fff;
    text-align:center;
    margin: 0;
    font: 1.1em/1.5 Lato, Helvetica, sans-serif;
}

a {
    color: yellow;
}

@include desktop-lg {
    body{
        font: 1.3em/1.5 Lato, Helvetica, sans-serif;
    }
}

.wrapper{
    text-align: center;
    width: 100%;
    margin: auto;
}

.line{
    width: 80%;
    margin: auto;
    color: #fff;
    margin-top: 30px;
}

section {
width: 80%;
margin: auto;
padding-bottom: 1rem;
}

p{
text-align: center;
max-width: 70ch;
margin: auto;
padding: 10px 0;
}
@include desktop-lg {
    p{
        text-align: justify;
        width: 100%;
    }
}


/*Navigation  */
@include desktop-sm{
    nav {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
        
    }
}
.main-nav {
    ul{
        display: block;
        padding: 0;
        margin-top: 0;
        list-style: none;
        a{
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.1rem;
            li{
                background: color(nav);
                padding: 0.8rem;
                border-bottom: 1px solid #fff;
                text-align: center;
            }
            li:hover {
                background: color(nav-select);
            }
        }
        a:hover {
            font-weight: bold;
        }
    }
    @include desktop-sm {
        ul{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        #flag {
         position: absolute;
         top: 80px;   
         right: 10px;
            
        }
    }
    #flag {
        width: 2em;
        margin: auto;
        background: none;
    }
}

/*Home */
.intro {
    font-size: 24px;
}

#home {
    img{
        display: block;
        width: 40%;
        height: auto;
        margin: auto;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid color(border);
    }
}
@include desktop-lg {
    #home {
        width: 60%;
        height : 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        h4 {
            text-align: left;
        }
        .box{
            overflow: auto;
            align-items: center;
        }
        h1 {
            font-size: 2.5em;
            margin: 0;
        }
        img{
            width: 35%;
            max-width: 300px;
            float:left;
            margin: 0 10px 10px 0;
        }
    }
}

@include desktop-md {
    #home {
        height : 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/*Projects  */
#projects {
    li {
        list-style-type: none;
        text-align: center;
        margin: auto;
        max-width: 60ch;
    }
    img{
        max-width: 100%;
        border-radius: 20px;
        transform: scale(0.9);
        transition-duration: 0.5s;
        position: relative;
    }
    img:hover{
        transform: scale(1.3);
        transition-duration: 0.7s;
        /*Selected on top  */
        position: relative;
        z-index: 2;
    }
    
    @include desktop-lg{
        p{
            text-align: center;
            font-size: 0.9em;
        }
    }
        
}
@include desktop-sm {
    #projects {
        .box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        .container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            margin: auto;
        }
        .box-fcc{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .box-own {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .box-own .item1, .box-own .item2 {
            width: 50%;
        }
        .box-own .item3 {
            width: 100%;
        }
        .box-angular {
            display: flex;
            flex-direction: column;
        }
    }
}

/*About  */

#about {
    p {
        text-align: justify;
    }
    iframe {
        width: 100%;
        height: 150px;
        border: 5px solid color(border);
    }
    #social-gh{
        color: color(sc-gh);
    }
    #social-fcc{
        color: color(sc-fcc);
    }
    #social-fb{
        color: color(sc-fb);
    }
    #social-li{
        color: color(sc-li);
    }
    
    #social-fb:hover,
    #social-gh:hover,
    #social-fcc:hover,
    #social-li:hover {
        color: #fff;
    }
    .box-social{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1rem;
    }
    @include desktop-lg {
        #about .box-social{
            width: 70%;
        }
    }
}
@include desktop-sm {
    #about {
        iframe {
            max-width: 500px;
            height: 200px;
        }
        .box-social{
            width: 80%;
            grid-template-columns: repeat(4, 1fr);
            padding-top: 20px;
        }
    }
}

/*Contact  */

#contact {
    .contact-form .child{
        margin-bottom: 10px;
    }
    input, textarea {
        width: 100%;
        height: 40px;
        border-radius: .25rem;
        padding: 2px;
        border: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: left;   
        font: 0.8em Arial, Helvetica, sans-serif;
    }
    textarea {
        height: 100px;
    }
    input::placeholder, textarea::placeholder {
        text-align: center;
    }
    .btn-sub {
        border-radius: .25rem;
        font-size: 0.8em;
        width: 100%;
        height: 40px;
        border: none;
        background: color(btn-primary);
        color: #fff;
    }
    .btn-sub:hover {
        background: color(btn-primary-hov);
    }
    .btn-top{
        background: white;
        height: 40px;
        width: 40px;
        font-size: 20px;
        border: #fff;
        border-radius: 10%;
        user-select: none;
        color: #000;
        margin: 10px 0;
    }
}
@include desktop-sm {
    #contact {
        form {
            width: 65%;
            margin: auto;
        }
        p{
            text-align: center;
        }
    }  
}

/*Footer  */

footer{
    background: color(footer);
    font-size: 0.5em;
}