$base-background: #2928CC;
$desktop-screen-width: 768px;

body, html{
  color: #ffffff;
  background-color: $base-background;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;

  img {
    max-width: 12em;
  }
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(9, 9, 121, .3);
  position: fixed;
  width: 100%;
  height: 3em;
  z-index: 999;

  .title {
    margin-left: 1em;
  }

  ul {
    display: flex;
    padding: 0.2em 1em;

    li {
      list-style: none;
      padding-left: 0.5em;
      line-height: 2em;

      a {
        text-decoration: none;
        color: inherit;
        font-size: 0.8em;
        &:hover {
          font-weight: bold;
          text-decoration: peru solid underline;
        }
      }
    }

    img {
      width: 2em;
    }
  }

  @media (min-width: $desktop-screen-width) {
    .title {
      font-size: 2em;
      margin-left: 2em;
    }
    ul {
      margin-right: 3em;
      li {
        padding-left: 2em;
        a {
          font-size: 1.2em;
        }
      }
    }
  }
}

section {
  margin: 0;
  .header {
    padding-bottom: 1em;
    text-align: center;
    text-decoration: $base-background solid underline;
    text-underline-offset: 0.2em;
    font-size: 2em;
  }
  .diagonal-overlay {
    min-height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-screen-width) {
    .header {
      font-size: 2.5em;
    }
  }


}

.home {
  padding: 7em 3em;
  position: relative;
  background: url("../images/corn-background.png") no-repeat 90% 110%;
  background-size: 11em;
  min-height: 100%;
  height: 60vh;

  .black-overlay {
    background: linear-gradient(356deg, rgba(0,0,0,1) 16%, rgba(1,0,23,0.95) 18%, rgba(9,9,121,0) 20%);
  }


  .location-header {
    display: flex;
    margin-bottom: 0.3em;
    .fas {
      color: red;
      margin-right: 0.5em;
    }
  }

  .intro {
    font-size: 1.2em;
    font-weight: lighter;
    line-height: 1.5em;
  }

  @media (min-width: $desktop-screen-width) {
    padding: 15em 15em 15em 10em;
    height: 100vh;
    background-size: 25em;

    .intro {
      font-size: 2em;
      line-height: 2em;
    }
  }

}

.projects {

  background: black;
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div {
      padding: 1em;
    }
  }

  .project-img {
    max-width: 15em;
    width: 15em;
    height: 10em;
  }

  @media (min-width: $desktop-screen-width) {
    .project-img {
      max-width: 40em;
      width: 40em;
      height: 25em;
      &:hover {
        opacity: 0.4;
      }
    }
  }
}

.about {
  background-color: black;

  .social-container {
    background: black;
    display: flex;
    position: relative;
    flex: 2 1 auto;
    width: 100%;

    .social-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      position: relative;
      z-index: 3;
      right: 0;
      flex-basis:55%;

      .social-icon {
        padding: 0.3em 0.3em;
        .fab:hover {
          opacity: 0.5;
        }

        .fa-free-code-camp {
          color: green;
        }

        .fa-github {
          color: white;
        }

        .fa-linkedin {
          color: #0a66c2;
        }

        .fa-facebook-square {
          color: #1877f2;
        }
      }
    }

    img.my-pic {
      min-width: 14em;
      flex-basis:45%;
    }

    .blue-overlay {
      background: linear-gradient(3deg, $base-background 16%, rgba(9,9,121,1) 18%, rgba(2,0,36,0) 20%);
      min-height: 35em;
    }

    @media (min-width: $desktop-screen-width) {
      .fa-2x {
        font-size: 5em;
      }

      img.my-pic {
        min-width: 17em;
        flex-basis:45%;
      }

      .social-icons {
        .social-icon {
          padding: 1.2em 1.2em;
        }
      }
    }
  }

  .about-text {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 3%, rgba(2,0,36,1) 4%, $base-background 5%);
    display: flex;
    justify-content: center;
    padding-bottom: 3em;

    div {
      align-self: center;
      width: 90%;
    }
    line-height: 1.5em;

    a {
      color: #3faf3f;
    }

    h4 {
      text-align: center;
      margin-bottom: 0.2em;
    }
  }
  @media (min-width: $desktop-screen-width) {
    line-height: 2em;

    .about-text {
      display: flex;
      justify-content: center;
      div {
        align-self: center;
        width: 70%;
        line-height: 1.8em;

        h4 {
          font-size: 1.3em;
        }

        p {
          font-size: 1.2em;
        }
      }
    }
  }
}

.contact {
  background: rgb(0,0,0);
  text-align: center;

  .contact-details {
    margin-bottom: 1em;
  }

  .contact-form {
    width: 100%;
    .form-element {
      input, textarea, button {
        width: 80%;
        padding: 1em;
        margin-bottom: 1em;
      }
      textarea {
        height: 15em;
      }
    }

    .btn-sub {
      border-radius: .25rem;
      font-size: 0.8em;
      width: 100%;
      height: 40px;
      border: none;
      background: #009e00;
      color: #fff;
    }
    .btn-sub:hover {
      opacity: 0.8;
    }

    .thankyou-message {
      font-size: 15px;
      color: #3faf3f;
    }
  }

  .btn-top{
    background: white;
    height: 40px;
    width: 40px;
    font-size: 20px;
    border: #fff;
    border-radius: 10%;
    user-select: none;
    color: #000;
    margin: 10px 0;
  }


  @media (min-width: $desktop-screen-width) {
    width: 100%;
    .contact-form {
      text-align: center;
      .form-element {
        input, textarea{
          width: 50%;
        }
        textarea {
          height: 35em;
        }
        button {
          width: 30%;
        }
      }
    }
  }
}

footer {
  text-align: center;
}


