body, html {
  color: #ffffff;
  background-color: #2928CC;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
body img, html img {
  max-width: 12em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(9, 9, 121, 0.3);
  position: fixed;
  width: 100%;
  height: 3em;
  z-index: 999;
}
nav .title {
  margin-left: 1em;
}
nav .title a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  display: flex;
  padding: 0.2em 1em;
}
nav ul li {
  list-style: none;
  padding-left: 0.5em;
  line-height: 2em;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 0.8em;
}
nav ul li a:hover {
  font-weight: bold;
}
nav ul img {
  width: 2em;
}
@media (min-width: 768px) {
  nav .title {
    font-size: 2em;
    margin-left: 2em;
  }
  nav ul {
    margin-right: 3em;
  }
  nav ul li {
    padding-left: 2em;
  }
  nav ul li a {
    font-size: 1.2em;
  }
}

section {
  margin: 0;
  padding: 0 3em 2em 3em;
}
section .header {
  padding-bottom: 1em;
  text-align: center;
  text-decoration: #2928CC solid underline;
  text-underline-offset: 0.2em;
  font-size: 2em;
}
section .diagonal-overlay {
  min-height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  section .header {
    font-size: 2.5em;
  }
}

.home {
  padding: 7em 3em;
  position: relative;
  background: url("../images/corn-background.png") no-repeat 90% 110%;
  background-size: 11em;
  min-height: 100%;
  height: 60vh;
}
.home .black-overlay {
  background: linear-gradient(356deg, black 16%, rgba(1, 0, 23, 0.95) 18%, rgba(9, 9, 121, 0) 20%);
}
.home .location-header {
  display: flex;
  margin-bottom: 0.3em;
}
.home .location-header .fas {
  color: red;
  margin-right: 0.5em;
}
.home .location-header p {
  font-size: 1.2em;
}
.home .intro {
  font-size: 1.2em;
  font-weight: lighter;
  line-height: 1.5em;
  max-width: 50ch;
}
@media (min-width: 768px) {
  .home {
    padding: 15em 15em 15em 10em;
    height: 100vh;
    background-size: 25em;
  }
  .home .intro {
    font-size: 2em;
    line-height: 2em;
  }
}

.projects {
  background: black;
}
.projects .projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects .project-img, .projects .project-img-desc {
  max-width: 30em;
  width: 20em;
  height: 15em;
}
.projects .project-img-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: #1d6a9a;
  color: #fff;
  visibility: hidden;
  text-align: center;
}
.projects .project-img-desc h2 {
  margin-bottom: 0.3em;
  font-size: 1.2em;
}
.projects .project-img-desc p {
  font-size: 1em;
}
.projects .project-img-container {
  position: relative;
  margin: 1.2em;
}
.projects .project-img-container:hover .project-img-desc {
  visibility: visible;
  opacity: 0.9;
}
@media (min-width: 768px) {
  .projects .project-img, .projects .project-img-desc {
    max-width: 40em;
    width: 40em;
    height: 25em;
  }
  .projects .project-img-desc h2 {
    margin-bottom: 0.3em;
    font-size: 2em;
  }
  .projects .project-img-desc p {
    font-size: 1.5em;
  }
}

.about {
  background-color: black;
  padding: 0;
}
.about .social-container {
  background: black;
  display: flex;
  position: relative;
  flex: 2 1 auto;
  width: 100%;
}
.about .social-container .social-icons {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 55%;
  justify-content: center;
  align-content: center;
  position: relative;
  z-index: 3;
  right: 0;
}
.about .social-container .social-icons .social-icon {
  padding: 0.3em 0.3em;
}
.about .social-container .social-icons .social-icon .fab:hover {
  opacity: 0.5;
}
.about .social-container .social-icons .social-icon .fa-free-code-camp {
  color: green;
}
.about .social-container .social-icons .social-icon .fa-github {
  color: white;
}
.about .social-container .social-icons .social-icon .fa-linkedin {
  color: #0a66c2;
}
.about .social-container .social-icons .social-icon .fa-facebook-square {
  color: #1877f2;
}
.about .social-container img.my-pic {
  min-width: 14em;
  flex-basis: 45%;
}
.about .social-container .blue-overlay {
  background: linear-gradient(3deg, #2928CC 16%, #090979 18%, rgba(2, 0, 36, 0) 20%);
  min-height: 35em;
}
@media (min-width: 768px) {
  .about .social-container .fa-2x {
    font-size: 7em;
  }
  .about .social-container img.my-pic {
    min-width: 20em;
    flex-basis: 45%;
  }
  .about .social-container .social-icons .social-icon {
    padding: 1.2em 1.2em;
  }
}
.about .about-text {
  background: black;
  background: linear-gradient(0deg, black 3%, #020024 4%, #2928CC 5%);
  display: flex;
  justify-content: center;
  padding-bottom: 5em;
  line-height: 1.5em;
}
.about .about-text div {
  align-self: center;
  width: 90%;
}
.about .about-text a {
  color: #d8ff3e;
}
.about .about-text h4 {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}
.about .about-text p {
  margin-bottom: 0.5em;
}
@media (min-width: 768px) {
  .about {
    line-height: 2em;
  }
  .about .about-text {
    display: flex;
    justify-content: center;
  }
  .about .about-text div {
    align-self: center;
    width: 70%;
    line-height: 1.8em;
  }
  .about .about-text div h4 {
    font-size: 2.5em;
    margin-bottom: 1em;
  }
  .about .about-text div p {
    font-size: 1.8em;
    line-height: 1.1em;
    margin-bottom: 1em;
  }
}

.contact {
  background: black;
  text-align: center;
  padding: 0 2em 2em 2em;
}
.contact .contact-details {
  margin-bottom: 1em;
}
.contact .contact-form {
  width: 100%;
}
.contact .contact-form .form-element input, .contact .contact-form .form-element textarea, .contact .contact-form .form-element button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
}
.contact .contact-form .form-element textarea {
  height: 15em;
}
.contact .contact-form .btn-sub {
  border-radius: 0.25rem;
  font-size: 0.8em;
  width: 100%;
  height: 40px;
  border: none;
  background: #009e00;
  color: #fff;
}
.contact .contact-form .btn-sub:hover {
  opacity: 0.8;
}
.contact .contact-form .thankyou-message {
  font-size: 15px;
  color: #3faf3f;
}
.contact .btn-top {
  background: white;
  height: 40px;
  width: 40px;
  font-size: 20px;
  border: #fff;
  border-radius: 10%;
  user-select: none;
  color: #000;
  margin: 10px 0;
}
@media (min-width: 768px) {
  .contact {
    width: 100%;
  }
  .contact .contact-form {
    text-align: center;
  }
  .contact .contact-form .form-element input, .contact .contact-form .form-element textarea {
    width: 50%;
  }
  .contact .contact-form .form-element textarea {
    height: 35em;
  }
  .contact .contact-form .form-element button {
    width: 30%;
  }
}

footer {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
