body{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

background: gray;

-webkit-touch-callout: none;
     -khtml-user-select: none;
}
.frame{
  margin: auto;
  width: 860px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.playground{
  float: left;
  min-width: 500px;
  max-width: 850px;
  background: green;
  border: solid #2d1a00 10px;
  border-radius: 10px;
}
.dealerCards, .playerCards{
  height: 120px;
  border: solid white 2px;
  border-radius: 10px;
  padding: 10px;
}
.card{
  position: relative;
  display: inline-block;
  width: 70px;
  min-width: 70px;
  height: 100px;
  color: black;
  border: double 10px;
  border-radius: 10%;
  background: white;
}
.symbol-top{
  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
}
.symbol-num{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
}
.symbol-bottom{
  position: absolute;
  right: 0;
  bottom: 0;

  width: 25px;
}
.btn {
border-radius: 4px;
padding: 10px;
border: solid gray 1px;
}
.btn:hover {
  background-color: yellow;
}
.btn_hit {
background: #66ff33;
font-weight: bold;
width: 75px;
}
.btn_stand{
background: red;
font-weight: bold;
width: 75px;
}
.btn_bet{
font-weight: bold;
width: 70px;
}
.bet{   /* for input*/
width: 70px;
font-size: 20px;
padding: 2px;
}

.bank{
  font-size: 20px;
  font-weight: bold;
  color: gold;
}
.btn_check{
  width: 153px;
  font-style: italic;
}
